@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

div#treeView {
  background-color: #333547 !important;
}
/*
table.root td a.treelink {
    color: #8699ad;
    display: block;
    padding: 12.5px 20px;
    font-size: 15.7px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: Sarabun,sans-serif;
    font-weight: 400;
}
*/
a.treelink {
    color: #8699ad;
    display: block;
    padding: 12.5px 20px;
    font-size: 15.7px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: Sarabun,sans-serif;
    font-weight: 400;
}
