.logos .custlogo {
  content: url("images/logo2.png");
}
.logos .logo {
  display: none;
}
div#logo img {
  content: url("https://amteck.github.io/documentation/images/logo.png");
  height: 44px;
  width: 140px;
}

body > div.logos > img.logo {
  display: none;
}
