@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div#treeView {
  background-color: #fff;
}
table.root td a.treelink {
    display: block;
    padding: .65rem 1.5rem;
    color: #747a80;
    font-size: 14.5px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
}
a.treelink {
    display: block;
    padding: .65rem 1.5rem;
    color: #747a80;
    font-size: 14.5px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
}
