.logos .custlogo {
  content: url("images/logo2.png");
}
.logos .logo {
  display: none;
}
div#logo img {
  display: block;
  background: url('https://i.imgur.com/6ZTllYd.png');
  background-size: 116px 46px;
  height: 46px;
  width: 116px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 116px;
}

body > div.logos > img.logo {
  display: none;
}
